* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url('https://cdn.pixabay.com/photo/2022/01/28/18/32/leaves-6975462_1280.png');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
} 

.container{
  width: 80vw;
  height: 90vh;
  background-color: rgba(17, 69, 67, 0.2);
  backdrop-filter: blur(10px) saturate(110%);
  border-radius: 12px;
  border: 1px solid rgba(225, 225, 225, 0.125);
  display: flex;
}